:root {
    --lima: hsl(61, 70%, 52%);
    --rojo: hsl(4, 69%, 50%);
    --blanco: hsl(0, 0%, 100%);
    --Slate-100: hsl(202, 86%, 94%);
    --Slate-300: hsl(203, 41%, 72%);
    --Slate-500: hsl(200, 26%, 54%);
    --Slate-700: hsl(200, 24%, 40%);
    --Slate-900: hsl(202, 55%, 16%);

    --heading-font: 'Young Serif', serif;
    --body-font: 'Outfit', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    border: 0.5px solid red;
}

input, button {
    font: inherit;
    padding: 5px;
}

body {
    margin: 0px;
    background-color: var(--Slate-100);
    height: 100vh;
}

.container {
    background-color: var(--blanco);
    width: 60%;
    margin: 2.5rem auto;
    font-style: var(--body-font);
    /* Flex properties */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
}

header {
    font-style: var(--heading-font);
}

/*! ------------------------ LEFT BOX ------------------------*/
.mortgage-calculator {
    background-color: var(--blanco);
    color: var(--Slate-700);
    width: 50%;
    /* border-radius: 75%; */

    /* Flex child options */
    
}

.mortgage-calculator header {
    color: var(--Slate-900);
}

.mortgage-calculator > div, .mortgage-calculator > form{
    padding: 20px;
}

.mortgage-calculator-header > header {
    /* flex properties */
    display: flex;
    justify-content: space-between;
}

.mortgage-calculator-header > header > button {
    all: unset;
    background: none;
    text-decoration: underline;
    color: var(--Slate-500);
    font-style: var(--);
}


.mortgage-amount {
    /* flex properties */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.mortgage-conditions {

    /* flex properties */
    display: flex;
    justify-content: space-between; 
}

/* childs */
.mortgage-conditions div{

    /* flex properties */
    display: flex;
    flex-direction: column;
    width: 45%;
}

.calculate-repayments-btn {
    background-color: var(--lima);
    color: var(--Slate-900);
    font-size: smaller;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
}

/*! ------------------------ RIGHT BOX ------------------------*/
.mortgage-calculator-results{
    background-color: var(--Slate-900);
    color: var(--Slate-500);
    width: 50%;
    border-radius: 0 15px 15px 40px;

    /* Flex child options */
    
}


.mortgage-calculator-results-header > header{
    color: var(--blanco);
}

.mortgage-term{
    flex-direction: column;
}

.mortgage-calculator-results > div{
    padding: 20px;
}

.mortgage-calculator-repay{
    background-color: var(--Slate-900);
}

.mortgage-calculator-repay > div {
    padding: 20px;
}