/*? ------------ General settings ------------ */
/* ------- Variables globales -------*/

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --heading-font: 'Young Serif', serif;
    --body-font: 'Outfit', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

input, button {
    font: inherit;
}

img {
    /*? ------ Espacio máximo de su padre ------ */
    max-width: 100%;
}

body {
    margin: 0;
    background-color: var(--stone-100);
    font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

main {
    background-color: white;
    width: 35%;
    margin: auto;
    /*! Centra imagenes y textos, debe tenerlo el padre!! y va orientado a elementos inline como img, span, inputs*/
    /* text-align: center; */
    padding: 35px;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Class to round elements */
.rounding-of-elements{
    border-radius: 15px;
}

.section-title{
    color: var(--brown-800);
}

/* TODO */
hr {
    background-color: red;
}

.omelette-image img {
    text-align: center;
    border-radius: 15px;
}


.omelette-preparation-time {
    background-color: #fff1f9;
    padding: 10px;
}

.section-omelette-nutrition span{
    padding: 20px;
}

.section-omelette-intructions::marker {
    color: var(--brown-800);
}