body {
  font-family: 'Arial', sans-serif;
}

.red {
  color: crimson;
}

.invalid {
  outline: 2px solid crimson;
}

.invalid + .error {
  display: inline;
}

span.error {
  color: crimson;
  display: none;
}